@import "vars"
@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.top_line 
		.nav_mnu 
			ul
				margin-top: 60px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)				
	/**/
	.s_work
		.inner_work
			p
				padding-left: 10px				
			a
				padding: 10px		
	.main_head
		.top_wrapper
			.top_descr			
				.top_centered
					.top_text 
						h1
							font-size: 25px
						h2 
							font-size: 40px
	.s_about 
		.view
			margin-left: 35%
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.main_head
		.top_wrapper
			.top_descr			
				.top_centered
					.top_text 
						h1
							font-size: 15px
						h2 
							font-size: 25px
						h3 
							font-size: 15px

	.s_contacts 
		.inner_contacts 
			padding-bottom: 0
			.cont_detal 
				p
					font-size: 15px
	.btn
		padding: 8px 35px

	.s_about 
		.author_info 
			img
				margin-left: 75px
		.view
			margin-top: 0
	.s_info 
		p
			font-size: 25px

	.s_work 
		.inner_work 
			p
				font-size: 20px
			a
				font-size: 20px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/
	.s_work
		.inner_work
			p
				padding-left: 10px				
			a
				padding: 10px

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


	
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
	

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
