@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
section,header
	position: relative
.btn
	font-family: RalewayExtraBold
	font-size: 14px
	color: #fff
	text-transform: uppercase
	background-color: #998675
	border-bottom: 3px solid #736357
	border-radius: 5px
	padding: 15px 45px
	&:hover
		color: #fff
		text-decoration: none
.main_head
	background-image: url(../img/2.jpg)
	background-repeat: no-repeat
	background-position: top center
	height: 650px
.loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-posirion: center center
		background-color: #fff
		height: 660px
		width: 660px
		margin-top: -330px
		margin-left: -330px
		left: 50%
		top: 50%
		position: absolute
.top_line
	color: #fff
	position: absolute
	z-index: 11
	top: 0
	left: 0
	right: 0	
	.logo
		padding-top: 20px
		img
			width: 80px
	.nav_mnu
		padding-top: 35px
		float: right
		ul
			li
				list-style-type: none
				display: inline-block
				margin-left: 40px
				a
					font-family: LatoBlack
					font-size: 14px
					text-transform: uppercase
					color: #fff

.main_head
	.top_wrapper
		display: table
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		z-index: 10
		background: rgba(58,61,63, .4);
		.top_descr
			display: table-row
			.top_centered
				display: table-cell
				text-align: center
				vertical-align: middle
				.top_text
					display: inline-block
					h1 
						font-family: Raleway Medium
						font-size: 36px
						color: #fff
					h2 
						font-family: Raleway ExtraBold
						font-size: 52px
						color: #fff
					p
						font-family: Myriad Pro Regular
						font-size: 16px
						color: #fff
						margin-bottom: 40px
.about
	.author_info
		margin-top: 105px
		h1
			text-align: center
			text-transform: uppercase
			font-size: 43px
			font-family: RalewaySemiBold
			margin-bottom: 85px	
			color: #555555
		img
			margin-left: 116px
		p
			font-family: MyriadProRegular
			color: #8c8c8c
			text-align: left
			margin-left: auto
	.view
		margin-left: 40%
		margin-top: 85px

.info
	margin-top: 200px	
	img
		width: 100%
	p
		font-family: RalewaySemiBold
		font-size: 35px
		color: #8c8c8c
		text-align: center
					
.services
	margin-top: 200px

	.services_item
		text-align: center
		img

		h2
			font-family: RalewaySemiBold
			text-transform: uppercase
			font-size: 25px
			text-align: center
			color: #555555
			margin-top: 35px
			line-height: 1.2
		p
			font-family: MyriadProRegular
			font-size: 15px
			color: #8c8c8c
.quality_work
	margin-top: 200px
	margin-bottom: 180px
	h3
		font-family: RalewaySemiBold
		color: #555555
		text-align: center
		font-size: 40px

	.qua_button
		margin-top: 20px
		text-align: center
		a
			text-decoration: none
			color: #fff
.s_about
	h1
		font-family: HelveticaRegular
		font-size: 53px
		color: #2C8AB7
		margin-top: 50px	
		text-align: center
	h2
		font-family: HelveticaRegular
		font-size: 45px
		color: #2C8AB7
		text-align: center
		text-transform: uppercase
		margin-top: 150px
		margin-bottom: 150px

.desc_about	
	p
		font-family: HelveticaRegular
		font-size: 23px
		text-align: center
		margin-top: 115px
	
.faq_inner
	.item_que
		font-style: italic
		background-color: #43A8D8
		color: #fff
		border-radius: 10px
		p
			padding: 15px
	.item_ans
		margin-bottom: 50px
		color: #43A8D8
		p
			margin: 35px 15px

	
.s_work
	margin-bottom: 180px
	h1
		font-family: RalewaySemiBold
		color: #555555
		font-size: 43px
		margin-top: 50px
		margin-bottom: 150px	
		text-align: center
	
	.inner_work
		margin-top: 20px
		background-color: #D5C5B3
		img
			width: 100%
			margin-top: 30px
			margin-bottom: 15px
		p
			font-family: Raleway
			color: #fff
			font-size: 28px
			text-align: left
			margin-top: 20px
		h2
			font-family: RalewayMedium
			font-size: 32px
			color: #fff
			margin-left: 180px
			margin-bottom: 30px
		a
			img
				width: 66px

.s_contacts
	h1 
		font-family: RalewaySemiBold
		color: #555555
		font-size: 43px
		text-align: center
		margin-bottom: 150px
	.inner_contacts
		background-image: url(../img/bg_contact.jpg)
		background-color: #fff
		padding-top: 55px
		padding-bottom: 55px
		.contact_form
			h2
				font-family: RalewayMedium
				font-size: 25px 
				color:#fff
			.form_event
				width: 100%
				background-color: rgba(255,255,255, .4)
				font-family: LatoBlack
				font-size: 15px
				color: #fff
				padding: 12px 12px
				border-radius: 2px
				border: none
				margin-top: 20px
			.from_message
				width: 100%
				height: 215px
				background-color: rgba(255,255,255, .4)
				font-family: LatoBlack
				font-size: 15px
				padding: 15px 12px
				border: none
				margin-top: 20px
		.cont_detal
			h1 
			font-family: RalewayMedium
			font-size: 15px
			color: #fff
			p
				font-family: Myriad Pro Regular
				color: #fff
				font-size: 15px
				display: inline-block
				margin: 10px
			i
				color: #fff
				font-size: 35px
		.from_message
			margin-bottom: 20px	
footer
	padding: 40px
	background-color: #111111
	p
		font-family: HelveticaLight
		color: #fff
		font-size: 16px
@import "media" // Always at the end
